@import url("https://fonts.googleapis.com/css2?family=Rubik+Wet+Paint&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DynaPuff&display=swap");
body {
  background: linear-gradient(301deg, #000000 13%, #7069ca 100%);
  /* font-family: "Michroma", cursive; */
  font-family: "DynaPuff", cursive;
}
p {
  color: aqua;
}
.nav-link {
  color: aquamarine;
}
.navbar-nav .nav-link.active {
  color: orange;
}
.navbar {
  background-color: rgb(2, 2, 8);
  box-shadow: 5px 12px 23px 8px #78ecfe;
}
.navbar-brand img {
  width: 60px;
  animation: myAnim2 5s ease 1.7s infinite normal forwards;
}
.navbar-toggler {
  color: orange;
  background-color: aquamarine;
}
@keyframes myAnim {
  0%,
  100% {
    transform: translateX(0%);
    transform-origin: 50% 50%;
  }

  15% {
    transform: translateX(-30px) rotate(6deg);
  }

  30% {
    transform: translateX(15px) rotate(-6deg);
  }

  45% {
    transform: translateX(-15px) rotate(3.6deg);
  }

  60% {
    transform: translateX(9px) rotate(-2.4deg);
  }

  75% {
    transform: translateX(-6px) rotate(1.2deg);
  }
}

@keyframes myAnim2 {
  0% {
    animation-timing-function: ease-in;
    opacity: 1;
    transform: translateY(-45px);
  }

  24% {
    opacity: 1;
  }

  40% {
    animation-timing-function: ease-in;
    transform: translateY(-24px);
  }

  65% {
    animation-timing-function: ease-in;
    transform: translateY(-12px);
  }

  82% {
    animation-timing-function: ease-in;
    transform: translateY(-6px);
  }

  93% {
    animation-timing-function: ease-in;
    transform: translateY(-4px);
  }

  25%,
  55%,
  75%,
  87% {
    animation-timing-function: ease-out;
    transform: translateY(0px);
  }

  100% {
    animation-timing-function: ease-out;
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes myAnim3 {
  0%,
  100% {
    transform: translateY(0) rotate(0);
    transform-origin: 50% 50%;
  }

  15% {
    transform: translateY(-30px) rotate(-6deg);
  }

  30% {
    transform: translateY(15px) rotate(6deg);
  }

  45% {
    transform: translateY(-15px) rotate(-3.6deg);
  }

  60% {
    transform: translateY(9px) rotate(2.4deg);
  }

  75% {
    transform: translateY(-6px) rotate(-1.2deg);
  }
}

.sidebar {
  color: aqua;
  background: linear-gradient(301deg, #000000 13%, #7069ca 100%);
}
.card {
  background: linear-gradient(301deg, #000000 13%, #7069ca 100%);
  color: aqua;
}
.card a {
  text-decoration: none;
  color: aqua;
}
/* h1 {
  color: rgb(167, 4, 4);
  text-align: center;
  text-size-adjust: 50px;
  font-family: "Rubik Wet Paint", cursive;
  animation: myAnim2 4s ease 0s infinite normal fo;
} */

.slide-text,
.footer-text {
  color: aqua;
  margin: auto auto;
}
@media (max-width: 755px) {
  .carousel-indicators {
    display: none;
  }
}

@keyframes myAnim4 {
  0% {
    background: linear-gradient(301deg, #000000 13%, #7069ca 100%);
  }
  50% {
    background: linear-gradient(90deg, #000000 13%, #7069ca 100%);
    transition: background-color 1s ease;
  }
  100% {
    background: linear-gradient(301deg, #000000 13%, #7069ca 100%);
  }
}
.myDiv {
  animation-name: myAnim4;
  animation-duration: 4s;
  animation-timing-function: linear;
}

footer {
  background-color: rgb(2, 2, 8);
  box-shadow: 5px -12px 23px 8px #78ecfe;
}
.media-links {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-text p {
  margin-top: 10px;
}

@keyframes myAnim5 {
  0%,
  100% {
    transform: rotate(0deg);
    transform-origin: 50% 50%;
  }

  10% {
    transform: rotate(4deg);
  }

  20%,
  40%,
  60% {
    transform: rotate(-5deg);
  }

  30%,
  50%,
  70% {
    transform: rotate(5deg);
  }

  80% {
    transform: rotate(-4deg);
  }

  90% {
    transform: rotate(4deg);
  }
}

/* .phonecall {
  animation: myAnim5 2s ease-in 2s infinite normal forwards;
} */
